services:
  nginx:
    image: nginx:alpine
    container_name: reverse_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/upstream.conf:/etc/nginx/conf.d/upstream.conf:ro
    depends_on:
      - app_blue
      - app_green
    restart: unless-stopped

  app_blue:
    image: groupstudy:prod
    container_name: gs_app_blue
    command: python app.py
    expose:
      - "8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 2s
      retries: 6
    restart: unless-stopped

  app_green:
    image: groupstudy:prod
    container_name: gs_app_green
    command: python app.py
    expose:
      - "8001"
    environment:
      - APP_PORT=8001
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 10s
      timeout: 2s
      retries: 6
    restart: unless-stopped
